.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Header*/

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  background-size: contain;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: auto;
}

.header_title {
  position: absolute;
  width: 730px;
  font-size: 102px;
  font-weight: bolder;
  line-height: 102px;
  z-index: 3;
  left: 64px;
}

.header_subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  width: 388px;
  z-index: 3;
}

.header_link {
  text-decoration: none;
  color:  #2f80ed;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;

}

.header_main-illustration {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/header-image.png);
  height: 608px;
  width: 765px;
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;

}

.header_square-pic {

  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
  position: absolute;
  top: 64px;
  right: 0;
}

/*main*/
/*Description*/

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: start;
}

.two-columns_main-text {
  display: flex;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;

}

.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

/*Digits*/

.digits {
  margin-top: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
}

.cell {
width: 250px;
margin-top: 60px;
}

.cell_headling {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  z-index: 2;
}

.cell_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

/*Feynman*/

.feynman {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman_title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  z-index: 2;
  text-align: center;
}

.feynman_subtitle {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  text-align: center;
}

.feynman_link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  text-decoration: none;
  color: #2f80ed;
}

.feynman_pic {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 1;

}

/*Kaufman*/

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {

  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.cell_text__theme_dark {
  margin-top: 20px;
  z-index: 2;
}

.kaufman_triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  z-index: 1;
}

/*Footer*/

.footer {
  padding-bottom: 40px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer_columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 711px;
}

.logo_place_footer {
  position: absolute;
  top: 0;
  left: 0;
}

.footer_author {
  position: absolute;
  bottom: 18px;
  left: 0;
  /*margin: auto;*/
  white-space: nowrap;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;

}

.footer__column-heading {
  margin-bottom: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_social-icon {
  width: 16px;
  height: 16px;
}